{% extends 'base.html' %}

{% block content %}
    <div class='container'>
        <div class ="row">
            <div class='col-md-6 text'>
                <h2 style="margin:50px 0px;">Contexte du projet</h2>
                <p style="text-align: justify;">Un chatbot (to chat + bot) est un robot conversationnel qui permet de répondre automatiquement, via une messagerie instantanée, aux requêtes/demandes 
                    d'un client (un être humain).</p>
                    
                <p style="text-align: justify;"> L'objectif phare du projet est de créer un chatbot. Dans ce cas de figure, les clients vont être des nouveaux apprenants ou bien des 
                    partenaires potentiels de l'école qui posent des questions précises sur l’école Micorosoft IA Brest+. Le premier défi est que le chatbot puisse répondre, automatiquement 
                    via des méthodes d'intelligence artificielle, à ces questions. Quant au deuxième défi, le chatbot doit, à travers ses réponses, convaincre les visiteurs soit de postuler 
                    (les apprenant) ou de devenir un partenaire officiel. Par exemple, il doit intégrer des phrases qui font la force de l’école : Pédagogie active, Travail en équipe, Learning 
                    by teaching, évaluation par compétence, Type de partenariat, ....                    
                </p>
            </div>

            <div class='col-md-6'>
                <img style="margin-top:100px;" src="static/image4.png" class="img-fluid" alt=''>
            </div>

            <div class='col-md-6 text'>    
                <h2 style="margin:30px 0px;">Critères de performance</h2>                    
                <p style="text-align: justify;">Le code doit bien être structuré, avec des explications sur le choix du modèle.
                <img style="margin:50px 0px;" src="static/image5.png" class="img-fluid" alt=''>
                <ul>
                    <li>Un lien Trello avant de commencer le projet pour le suivi des équipes.</li>
                    <li>Les 2 rapports demandés et la présentation.</li>
                    <li>Un lien vers le github de l’équipe qui contient le code et les bases.</li>
                    <li>Implémentation d'un chatbot pour l’école Microsoft et étude de sa performance.</li>
                </ul>
            </div>

            <div class='col-md-6 text'>
                <h2 style="margin:30px 0px;">Modalités pédagogiques</h2>
                <p style="text-align: justify;">
                    Le projet se fait en groupe de 4, le travail doit être répartit et doit s’effectuer en suivant la méthode SCRUM. 
                    Les lundis sont consacrés au sprint planning. 
                    La fin de semaine aux revus de sprints et aux rétrospectives. 
                    Chaque matin l’équipe doit faire son Daily Scrum.

                Le développement doit comporter :

                    <ul>
                        <li>Un corpus permettant au chatbot Microsoft IA Brest+ d'apprendre à répondre en français (en anglais par la suite),</li>
                        <li>Une API donnant accès au corpus,</li>
                        <li>Un modèle d’IA pour les réponses et une étude de performance.</li>
                        <li>Une page web intégrant le chatbot et utilisant Tensorflow JS</li>
                    </ul>
                </p>
                <img style="margin-top:25px" src="static/image6.png" class="img-fluid" alt=''> 
            </div>
        </div>
    </div>
{% endblock %}
